body {
    background-color: #e22b56;
}


p{
    background-color: aqua;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.class1{
    background-color: pink;
    front-size: 12px;
    font-family: "Arial Black";
    color: brown;
}
/*
#signup{
    background-color: darkcyan;
}

 */
.btn1{
    background-color: firebrick;
    font-size:30px ;
}
.btn1:hover{
    background-color: pink;
    font-size:30px ;
}
.btnFont{
    font-family: "Droid Sans";
}
