body {
    background-color: #e22b56;
}


p{
    background-color: aqua;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.class1{
    background-color: pink;
    front-size: 12px;
    font-family: "Arial Black";
    color: brown;
}